<h1>Pirates</h1>
<h2><%= @pirates %></h2>




<h1>Display your Pirate here</h1>

<%= @pirate.name %>

<h2>Ships</h2>
<ul>
  <li>Ship Name: <%= @pirate.ship.name %></li>
  <li>Ship Type: <%= @pirate.ship.type %></li>
  <li>Ship Booty: <%= @pirate.ship.booty %></li>
</ul>
  
